<head>
    <link rel="stylesheet" href="/css/addSchedule.css">
    <script src="js/schedule2.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
</head>

<body>
<section id="schedule" align="center">
    <!-- <h1 align="center">일정 추가</h1> -->
    <div class="wrapper">
        <form action="/addScheduleClear" method="post">

            <div class="one">
                <div class = "info">
                    <p>① 기본 정보 입력하기</p>
                </div>
               
                <div class = "where">
                    <label style="float: left;">
                        근무지
                    </label>
                    <select id = "selection" name="scdlPtId">
                        <option value="" disabled selected>선택</option>
                        <% for (i = 0; i < pt.length; i++) { %>
                            <option value="<%=pt[i].parttimeId%>"><%= pt[i].parttimeName %></option>
                        <% } %>
                    </select>
                </div>
            
                <div class = "wageBox">
                    <label style="float: left;">
                        시급
                    </label>
                    <input type="number" id="wage" name="wage">원
                    <input type="checkbox" id="minWage" name="minWage" value="9160">최저시급
                    <script src="/js/addSchedule.js"></script>
                </div>

                <div class = "workTime">
                    <label style="float: left;">
                        일일 근무시간
                    </label>
                    <input type="datetime-local" name="startTime" id="start"> 
                    <input type="datetime-local" name="endTime" id="end" >
                </div>
            
                <div class = "coverBox">
                    <label style="float: left;">
                        대타여부
                    </label>
                    <input type="radio" name="isCovered" value="1">예
                    <input type="radio" name="isCovered" value="0">아니오
                </div>
    

                <div class = "break">
                    <label style="float: left;">
                        휴게시간
                    </label>
                    <select name="rest" id="rest" class="form-control">
                        <% for (i = 0; i < 11; i++) { %>
                            <option value="<%= i * 10 %>"><%= i * 10 %></option>
                        <% } %>  
                    
                    </select>
                </div>

            </div>

            <div class="two">
                <div class = "info">
                    <p align="center">② 추가 정보 입력하기</p>
                </div>

                <div class = "overPayBox">
                    <label style="float: left;">
                        연장수당
                    </label>
                    <input type="number" id="overPay" name="overPay">원
                    <input type="checkbox" id="noOverPay" name="noOverPay" value="0">없음
                    <script src="/js/addSchedule.js"></script>
                </div>
            
                <div class = "nightBox">
                    <label style="float: left;">
                        야간수당
                    </label>
                    <input type="number" id="night" name="night">원
                    <input type="checkbox" id="noNight" name="noNight" value="0">없음
                    <script src="/js/addSchedule.js"></script>
                </div>

                <div class = "holidayBox">
                    <label style="float: left;">
                        휴일수당
                    </label>
                    <input type="number" id="holiday" name="holiday">원
                    <input type="checkbox" id="noHoliday" name="noHoliday" value="0">없음
                    <script src="/js/addSchedule.js"></script>
                </div>
    
                <div class = "extraBox">
                    <label style="float: left;">
                        추가수당
                    </label>
                    <input type="number" id="extra" name="extra">원
                    <input type="checkbox" id="noExtra" name="noExtra" value="0">없음
                    <script src="/js/addSchedule.js"></script>
                </div>
                
                <hr background-color = "#9dc39c">
                
                <input id = "scdlSubmit" type="submit" value="추가" style="float:right">
                <br><br><br><br>
            </div>
        </form>
    </div>
</section>