<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="text"style=" width:500px margin 0 auto;">
         <h1>이미 친구인 이메일입니다.</h1>
    </div>
    <div id="homeBtn">
    <button id = "homeButton" onclick="location.href='/'"  >홈으로</button>
    </div>

</body>
</html>