<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 친구신청 시, 이미 친구인 경우 view -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <title>성신한 알바</title>
</head>
<body>
    
    <div id="text"style="display:flex;justify-content: center; flex-direction: column; align-items: center; margin-top: 100px;">
         <h1>이미 친구인 이메일입니다.</h1>
    </div>
    <div id="homeBtn"
    style="display: flex;
           align-items: center;
           justify-content: center;">
    <button id = "homeButton" onclick="location.href='/'" 
    style="display:flex;justify-content: center; flex-direction: column; align-items: center;
      width: 100px;
    height: 30px;
    margin-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;"  >홈으로</button>

    </div>

</body>
</html>