<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <title>Document</title>
</head>
<body>
    <h1>이미 친구다</h1>
    <button id = "homeButton" onclick="location.href='/'" >홈으로</button>

</body>
</html>