<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chetting</title>
    <link rel="stylesheet" href="./css/chat.css">
    <script src="js/chat.js"></script>
</head>

<body>
    <div class="chatwrapper">
        <div class="user-container">
          
        </div>

        <div class="display-container">
            <ul class="chatting-list">

                <li class="sent">
                   
                </li>

                <li class="receive">
                 
                </li>
            </ul>
        </div>

        <div class="input-container">
            <span>
            <form action="/chat" method="post">
            <input type="text" class="chatting-input">
            <button class="send-button">전송</button>
            </form>
            </span>
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <script src="js/chat.js"></script>
    <div id="roomList">
        <div id="roomHeader">채팅방 목록</div>
        <div id="roomSelect">
            
            <div class="roomEI active" data-id="1"> friend1</div>
            <div class="roomEI" data-id="2">friend2</div>
            <div class="roomEI" data-id="3">ffriend3</div>
            <div class="roomEI" data-id="4">friend4</div>
        </div>
    </div>
    <div id="calenderList">
        <div id="calenderHeader">동료 캘랜더 목록</div>
        <div id="calenderSelect">
            <div class="CalenderEI active" data-id="1">friend1's Calnender</div>
            <div class="CalenderEI" data-id="2">friend2's Calnender</div>
            <div class="CalenderEI" data-id="3">friend3's Calnender</div>
            <div class="CalenderEI" data-id="4">friend4's Calnender</div>
        </div>
    </div>
</body>
</html>