<!DOCTYPE html>
<html lang="ko">
<head> 
    <title> 성신한 알바 회원가입</title> 
    <!-- 브라우저 기본 스타일 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/signUpClear.css">
</head>

<body>

    <div class = "wrapper">

        <p>완료되었습니다.</p>

        <button id = "homeButton" onclick="location.href='/'">홈으로</button>
        

    </div>