<!DOCTYPE html>
<html lang="ko">
<head> 
    <title> 성신한 알바 회원가입</title> 
    <!-- 브라우저 기본 스타일 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/clear.css">
</head>
<style>
    	.title {
    background-color: #cce8f4;
    border-radius: 40px 80px;
    width: 30%;
    height: 100px;
    
}
</style>
<body>

    <div class = "wrapper">

        <p>입력에 문제가 있어 해당 요청을 처리하지 못했습니다.
            <br>
            <br>
            <br>다시 시도해주세요.
        </p>
     
        <button id = "homeButton" onclick="location.href='/'">홈으로</button>
        
    </div>
</body>
</html>