<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<style>

body{
    overflow-y: scroll;
}

.title {
  background-color: #e1b8b8;
  border-radius: 40px 80px;
  width: 30%;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

</style>

<body>
    <div class="empty" style="height: 100px;"></div>
    <div id="text"style="display:flex;justify-content: center; flex-direction: column; align-items: center;">
        <h1>친구 삭제가 완료 되었습니다.</h1>
   </div>
    <div id="homeBtn"
    style="display: flex;
           align-items: center;
           justify-content: center;
           margin-top: 20px;">
    <button id = "homeButton" onclick="location.href='/friendlist'" 
    style="display:flex;justify-content: center; flex-direction: column; align-items: center;
      width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #e1b8b8;">친구 목록으로</button>
    </div>
</body>
</html>