<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatting</title>
    <link rel="stylesheet" href="./css/chat.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
</head>

<body>
    <div class="empty" style="height: 100px;"></div>
    <div class = "wrapper" 
    style=" display:flex; 
    height: 300px;
    width: 500px;
    margin : 0 auto;
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    background-color: white; 
    border: #e1b8b8 solid;
     border-radius: 3ch;"
    >
        <form name = "friendDelete" action = "/deleteFriend" method = "post">
                <div class = "jobName">
                        <div class = "jobNameBox">
                                <label style="font-size: 17px; width:200px; border-bottom: 3px solid #e1b8b8 ;">친구 목록</label>
                                <select name="friendId" >
                                    <option value="" disabled selected>선택</option>
                                    <% for (i = 0; i < data.length; i++) { %>
                                        <option value="<%=data[i].memberId%>"><%= data[i].memberName %></option>
                                    <% } %>
                                </select>
                        </div>
                </div>
                    <div class = "delete"
                    style=" display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;">

                        <input type = "submit" id="editButton" value="친구 삭제" onclick="alert('친구를 삭제하시겠습니까?')"
                        style="  
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 30px;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 3px solid #e1b8b8;">
                </div>
        </form>
</div>
</body>
</html>