<!-- 친구삭제완료view -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <div class="empty" style="height: 100px;"></div>
    <div id="text"style="display:flex;justify-content: center; flex-direction: column; align-items: center;">
        <h1>친구 삭제가 완료 되었습니다.</h1>
   </div>
    <div id="homeBtn"
    style="display: flex;
           align-items: center;
           justify-content: center;">
    <button id = "homeButton" onclick="location.href='/'" 
    style="display:flex;justify-content: center; flex-direction: column; align-items: center;
      width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;"  >홈으로</button>
    </div>
</body>
</html>