<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/deleteUser.css">
    <title>회원 탈퇴</title>
</head>
<body>

    <div class = "wrapper">

        <p>탈퇴 되었습니다.</p>
        <button id = "homeButton" onclick="location.href='/login'">홈으로</button>
        
    </div>

</body>
</html>