<!DOCTYPE html>
<html lang="ko">
<head></head>
    <link rel="stylesheet" href="./css/friendlist.css">
    <title>성신한알바</title>
</head>
<body>
    <div class="goAddFriend">
        <input type="button" id="btnChat" value="친구추가하기"  onclick="location.href='/friend';">

    </div>

    <div id="roomList">
        <div id="roomHeader">친구 목록</div>
        <div id="roomSelect" >
                <% FFFF.forEach(e=>{ %>
                <button class ="roomEI" id="friendId" name="friendId" onclick="">
                <%=e.memberName%>
                </button>
                <%});%> 
            <select name="" id=""></select>
        </div>
    </div>
    <div id="calenderList">
        <div id="calenderHeader">동료 캘랜더 목록</div>
        <div id="calenderSelect">
            <% FFFF.forEach(e=>{ %>
                <button class="CalenderEI" onclick="">
                    <%=e.memberName%> 's Calnender%>
                </button>
            <%});%> 
            <!-- <div class="CalenderEI" data-id="2">friend2's Calnender</div>
            <div class="CalenderEI" data-id="3">friend3's Calnender</div>
            <div class="CalenderEI" data-id="4">friend4's Calnender</div> -->
        </div>
    </div>
</body>
</html>