<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/job-list.css">
    <title>Document</title>
</head>
<body>

    <div id = "btns">
    <% for(var i = 0; i < data.length; i++) {%>
            <button id = 'btn '+'<%=data[i].parttimeId%>' onclick="location.href='/schedule1';" >
                <%=data[i].parttimeName%> 
                <br> <%=data[i].parttimeName%> 
            </button>
       
    <% } %>
    </div>
</body>
</html>