<!DOCTYPE html>  
<html lang="ko"> 
<head> 
    <title>아르바이트 정보</title> 
    <!-- 브라우저 기본 스타일 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="./css/jobInfo.css">
    <script src="./js/jobInfo.js"></script>
</head>

<body>

    <!-- <header>
        <div class = "title">
            <p> 아르바이트 추가 </p>
        </div>
    </header>  -->

        <div class = "wrapper">
                <form name = "job-form" action = "/job" method = "post">
                        <div class = "jobName">
                                <div class = "jobNameBox">
                                        <label>아르바이트 이름</label>
                                        <input name="parttimeName" type="text" placeholder="아르바이트 이름을 입력해 주세요.">
                                </div>
                                <div id="jobError" class="error"></div>    
                        </div>

                        <div class = "weekPay">
                                <div class = "weekPayBox">
                                        <label>주휴수당 선택</label>
                                        <select name = "weekPay">
                                                <option value="0" selected = "selected"> 주휴수당 반영 </option>
                                                <option value="주휴수당 미반영"> 주휴수당 미반영 </option>
                                        </select>
                                </div>
                            </div>

                            <div class = "tax">
                                    <div class = "taxBox">
                                            <label>세금 선택</label>
                                            <select name = "tax">
                                                    <option value="0" selected = "selected"> 0 </option>
                                                    <option value="3.3"> 3.3 </option>
                                                    <option value="9.32"> 9.32 </option>
                                            </select>
                                    </div>
                            </div>
    
                            <div class = "color">
                                    <div class = "colorBox">
                                            <label>색깔 선택</label>
                                             <select name = "color">
                                                    <!-- 색깔 넣고 싶은데 안넣어짐,, 굳이 안넣어도 될 듯 -->
                                                    <option value="White" selected = "selected"> 하양 </option>
                                                    <option value="Red", style="background-color: red"> 빨강 </option>
                                                    <option value="Orange", style="background-color:orange"> 주황 </option>
                                                    <option value="Yellow", style="background-color:yellow"> 노랑 </option>
                                                    <option value="Green", style="background-color: green"> 초록 </option>
                                                    <option value="Blue"> 파랑 </option>
                                                    <option value="Purple"> 보라 </option>
                                                    <option value="Black"> 검정 </option>
                                            </select>
                                    </div>
                            </div>
    
                            <div class = "edit">
                                <input type = "submit" id="editButton" onclick="submit()">완료</button>
                        </div>
                </form>
    </div>

</body>
</html>
                                   