<!-- layout.view  -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <title> 성신한 알바</title>
    <link rel="stylesheet" href="./css/header.css">
</head>

<body>

    <div class = "header">
        <%- include('partials/header') %>
    </div>


    <section>
        <%- body %>
    </section>


</body>