<link rel="stylesheet" href="./css/header.css">

<!DOCTYPE html>
<html lang="ko">
<head>
    <title> 성신한 알바</title>
</head>

<body>

    <div id = "header">
        <%- include('partials/header') %>
    </div>


    <section>
        <%- body %>
    </section>


</body>