<!-- 로그인 뷰 -->
<!DOCTYPE html>
<html lang="ko">
<head> 
    <title> 성신한 알바</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="./css/signUp.css">
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div>
        <!-- 로그인 form  -->
        <form class = "login-form" action="/login" method="post">
            <div class = "mailBox">
                <input type = "text" id = "mail" name = "mail" placeholder="mail">
            </div>
            <div class = "pwBox">
                <input type = "text" id = "pw" name = "pw" placeholder="password">
            </div>
            <div class = "loginBtnBox">
                <input type = "submit" class = "loginBtn" value = "login">
            </div>
        </form>

        <!-- 회원가입하기 btn  -->
        <div class = "signUpBox">
            <a href="signUp"><input type="button" class = "signUpBtn" value="signUp"></a> 
        </div>
    </div>
</body>
</html>