<!DOCTYPE html>
<html lang="ko">
<head> 
    <title> 성신한 알바 회원가입</title> 
    <!-- 브라우저 기본 스타일 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="./css/signUp.css">
    <script src="../public/js/signUp.js"></script>
</head>

<body>
<div>
    <form class = "login-form" action="/login" method="post">
        <input type = "text" name = "mail" placeholder="mail">
        <input type = "text" name = "pw" placeholder="password">
        <input type = "submit" class = "loginBtn" value = "login">
    </form>
</div>
</body>
</html>