<!-- 로그아웃 뷰 -->
<!DOCTYPE html>
<html lang="ko">
<head> 
    <title> 성신한 알바</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/clear.css">
</head>

<body>

    <div class = "wrapper">

        <p>로그아웃 되었습니다.</p>
        <button id = "homeButton" onclick="location.href='/login'" >홈으로</button>
        
    </div>
</body>