<!DOCTYPE html>
<html lang="en">
<head> 
    <!-- 친구추가완료 뷰 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p style=" width:500px margin 0 auto;">친구가 맺어졌습니다.</p>
    <button id = "homeButton" onclick="location.href='/'" style=" width:500px margin 0 auto;">홈으로</button>

</body>
</html>