<!-- 친구 신청 시, 새로운 친구가 생성될때 view  -->
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <title>성신한 알바</title>
</head>

<style>
body{
    overflow-y: scroll;
}

.title {
  background-color: #e1b8b8;
  border-radius: 40px 80px;
  width: 30%;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

.title > p {
  padding-top: 35px;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 40px;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 8px;
}
</style>

<body>
    <div id="text"style="display:flex;justify-content: center; flex-direction: column; align-items: center; margin-top: 45px;">
        <h1>친구 추가가 완료되었습니다.</h1>
   </div>
    <div id="homeBtn"
    style="display: flex;
           align-items: center;
           justify-content: center;">
    <button id = "homeButton" onclick="location.href='/friendlist'" 
    style="display:flex;justify-content: center; flex-direction: column; align-items: center;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    
    border-bottom: 3px solid #e1b8b8;">친구 목록으로</button>
    </div>


</body>
</html>