<head>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/schedule2.css">
    <script src="js/schedule2.js"></script>
</head>

<body>
<section id="schedule" align="center">
    <form method="post">
        <h1 align="center">일정 추가</h1>
        <input type="date" name="date"> <!--캘린더에서 날짜 클릭하면 그대로 불려오게-->
        <br><br><br>
        <div class="two" style="float:left;">
        
            <h3 align="center">② 추가 정보 입력하기</h3>
            <hr>
            <br>
        
            <label style="float: left;">
                연장수당
            </label>
            <br>
            <input type="number" id="over" name="over" style="width: 89%;">원
        
            <br><br>
        
            <label style="float: left;">
                야간수당
            </label>
            <br>
            <input type="number" id="night" name="night" style="width: 89%;">원
        
            <br><br>
        
            <label style="float: left;">
                휴일수당
            </label>
            <br>
            <input type="number" id="holiday" name="holiday" style="width: 89%;">원

            <br><br>
        
            <label style="float: left;">
                추가수당
            </label>
            <br>
            <input type="number" id="extra" name="extra" style="width: 89%;">원

            <br><br>
            <hr>
            <!--일급 계산해서 [] 안에 보여주게 처리(함수 아직 못만듦)-->
            <h4 style="text-align: right;">일급 [계산]원</h4>
            <br>
            
            <input type="button" value="이전" onclick="location.href='/schedule1'" style="float:left">
            <input type="submit" value="추가" onclick="add()" style="float:right">
            <br><br><br><br>
        </div>
    </form>
</section>
</body>