<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="./css/showMonthWage.css">
</head>
<body>

<table>
        <tr>
            <th colspan="2"><%=day%> 급여 명세표</th>
        </tr>
        <% if(monthPay_byPt) { %>
        <% for (var i = 0; i < monthPay_byPt.length;i++){ %>
            <tr>
                <td>
                    <%= monthPay_byPt[i].parttime.parttimeName %>
                </td>
                <td>
                    <%=monthPay_byPt[i].monthlyTotal%>
                </td>
            </tr>
        <% } %>
        <tr>
            <td>
                총 월급
            </td>
            <td>
            <% if(monthWage) { %>
                <%=monthWage.total%>
                <% } %>
            </td>
        </tr>
        <% } %>
    </table>

    <button id = "homeButton" onclick="location.href='/'" >홈으로</button>
</body>
</html>