<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <title>No friend</title>
</head>
<body>
    <!-- 친구추가할시 해당 이메일이 멤버가 아닐시 보내는 뷰 -->
    <!-- 윤영추가 6/11 -->
    <script type="text/javascript">
        alert("사용자 중 해당 이메일은 없습니다.");
    </script>
    <h1></h1>
    <button id = "homeButton" onclick="location.href='/'" style=" width:500px margin 0 auto;">홈으로</button>

</body>
</html>