<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 윤영추가 6/11 -->
    <script type="text/javascript">
        alert("사용자 중 해당 이메일은 없습니다.");
    </script>
    <h1>터미널 확인해라.</h1>
</body>
</html>