body{
    overflow-y: scroll;
}

.title {
    background-color: #e1b8b8;
    border-radius: 40px 80px;
    width: 30%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

.wrapper {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

.friendEmail {
    height: 20px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#friendEmail {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #e1b8b8;
    border-radius: 5px;
}

.sendMail {
    padding-top: 80px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
    cursor: pointer;
}

#sendMailButton {
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #e1b8b8;
}

.error {
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 40%;
}
