.wrapper {
    /* background-color: palegreen; */
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 1px solid skyblue;; */
    padding: 20px;
}

.friendEmail {
    height: 20px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#friendEmail {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}

.sendMail {
    padding-top: 80px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
    cursor: pointer;
}

#sendMailButton {
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
}

.error {
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 40%;
}
