*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    
}


.chatwrapper{
    height: 100%;
    flex:5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



.display-container{
    background:#e1b8b8;
    flex: 12;
    overflow-y: scroll;
}

.input-container{
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

}

.input-container span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
}

.chatting-input{
    font-size: 12px;
    height: 100%;
    flex:8;

}

.send-button{
    flex:2;
    background: #e1b8b8;
    border: none;
    height: 100%;
    border-radius: 3px;
}

.chatting-list li{
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0.1rem;
    
}




.messsage{
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 12px;
    margin: 0 5px;
    flex: 7;
}

.time{
    font-size: 10px;
    margin: 0 5px;
}
.sent{
    flex-direction: row-reverse;
    float:right;
}

.sent  .message{
    background:rgb(99, 30, 30);
    color: white;

}

.receive .message{
    background: #da8383;

}

#roomList{
    
    width: 10%;
    border: 1px solid #8a149f;
    border-radius: 5px;
    flex:3;
    
}

#roomHeader{
    background-color: #9f3bdd;
    color: #fff;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.roomEI{
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
    cursor: pointer;
}

.roomEI:hover{
    background: #f0f0f0;
}
.roomEI.active{
    background: #f0f0f0;
}


#calenderList{
    width: 250px;
    border: 1px solid #8a149f;
    border-radius: 5px;
}

#calenderHeader{
    background-color: #9471f4;
    color: #fff;
    height: 40px;
    width: 10%;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.CalenderEI{
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
    cursor: pointer;
}

.CalenderEI:hover{
    background: #f0f0f0;
}

.CalenderEI.active{
    background: #f0f0f0;
}



