body{
    overflow-y: scroll;
}

.wrapper {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 1px solid skyblue; */
    padding: 20px;
}

.wrapper >p {
    text-align: center;
}

.wrapper > button {
    margin-top: 20px;
    margin-left: 40%;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
}