body{
    overflow-y: scroll;
}

.title {
    background-color: #e1b8b8;
    border-radius: 40px 80px;
    width: 30%;
    height: 100px;
    
}

.title > p {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 8px;
}

.goAddFriend {
    height: 50px;
    text-align: center;
    padding-top: 50px;
    margin: auto auto;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 40px;
}

#btnChat {
    width: 15%;
    height: 40px;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #e1b8b8;
    font-family: 'Nanum Gothic', sans-serif;
}

#manage_friend {
    width: 15%;
    height: 40px;
    margin: auto auto;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #e1b8b8;
    font-family: 'Nanum Gothic', sans-serif; 
}


#roomList{
    margin: auto auto;
    width: 30%;
    border: 1px solid #e1b8b8;
    border-radius: 5px;
    flex:3;
    margin-bottom: 30px;
}

#roomHeader{
    background-color: #e1b8b8;
    color: #fff;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

#roomSelect {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

#roomSelect > button {
    padding-top: 5px;

}

#calendarList {
    margin: auto auto;
    width: 30%;
    /* border: 1px solid #8a149f;*/
    border: 1px solid #e1b8b8; 
    border-radius: 5px;
    flex:3
}

#roomCalendarHeader{
    /* background-color: #9f3bdd; */
    background-color: #e1b8b8;
    color: #fff;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

#calendarSelect {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

#calendarSelect > button {
    padding-top: 5px;
    width: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #da8383;
}

#roomSelect > button {
    padding-top: 5px;
    width: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #da8383;
}


.roomEI{
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
    cursor: pointer;
}

.roomEI:hover{
    background: #f0f0f0;
}
.roomEI.active{
    background: #f0f0f0;
}
#calenderList{
    width: 250px;
    border: 1px solid #8a149f;
    border-radius: 5px;
}

#calenderHeader{
    background-color: #9471f4;
    color: #fff;
    height: 40px;
    width: 10%;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.CalenderEI{
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
    cursor: pointer;
}

.CalenderEI:hover{
    background: #f0f0f0;
}

.CalenderEI.active{
    background: #f0f0f0;
}


