@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gugi&family=Jua&display=swap');

.title {
  background-color: #9DC39C;
  border-radius: 40px 80px;
  width: 30%;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

.title > p {
  padding-top: 35px;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 40px;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 8px;
}