body{
    overflow-y: scroll;
}

.scdlBox {
    width: 200px;
    height: 300px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.btns {
    /* 여기다가 버튼 속성 추가하면 됨 */
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border-left: none;
    border-right: none;
    background-color: white;
    margin-top : 100px;
    margin-left: 100px;
}

.job-list{
    margin-top: 20px;
    margin-left: 50px;
    width: 100px;
    height: 30px;
}

#scdlDelete{
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: white;
    position: relative;
    margin-left : 100px;
}


#totalPay {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 50%;
    padding : 10px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border-top:  1px solid #9dc39c;
    border-left: 1px solid #9dc39c;
    border-right: 3px solid #9dc39c;
    border-bottom: 3px solid #9dc39c;
    font-family: 'Nanum Gothic', sans-serif;
    align-items : center;
  }
