body{
    overflow-y: scroll;
}

label {
    padding-right: 10px;
}

select{
    width: 200px;
    padding: .8em .5em;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    border: 1px solid #9dc39c;
    border-radius: 0px;
    appearance: none;
}

.jobNameBox {
    padding-top: 80px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#parttimeName {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}

.weekPay {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
.weekPayBox {
    height: 25px;
    width: 100%;
    padding-top: 45px;
    text-align: center;
    margin: auto auto;
}

.tax {
    height: 100px;
    width: 80%;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
}
.taxBox {
    height: 25px;
    width: 100%;
    padding-top: 45px;
    text-align: center;
    margin: auto auto;
}

.color {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
.colorBox {
    height: 25px;
    width: 100%;
    padding-top: 45px;
    text-align: center;
    margin: auto auto;
}

.edit {
    padding-top: 40px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
    font-family: 'Nanum Gothic', sans-serif;
}
#editButton {
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
}

.error {
    height: 20px;
    width: 100%;
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 45%;
}
