.login-form {
    width: 70%;
    height: 150px;
    padding-top: 100px;
    margin: 0 auto;
}
.mailBox {
    height: 35px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#mail {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}
.pwBox {
    padding-top: 30px;
    height: 35px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#pw {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}
.loginBtnBox {
    padding-top: 40px;
    height: 60px;
    width: 350px;
    text-align: center;
    margin: auto auto;
}
.loginBtn {
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
}

.signUpBox {
    width: 70%;
    margin: auto auto;
}

.signUpBox {
    padding-top: 55px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}

.signUpBtn {
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
} 