
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* font-weight 추가함(굵게) */
  .year-month {
    font-style: italic;
    font-size: 35px;
    font-weight: bolder; 
  }
  
  /*로그인, 로고*/

header {

  height: 150px;
  
  width: 100%;
  
  }
  
  header .loginBar{
  background-color: skyblue;
  height: 60px;
  }
  
  header .loginBarBox {
  border: 1px solid gainsboro;  
  float: right;
  height: 100%;
  width: 30%;
  }

  /* header .btnBox {
    width: 200px;
    float: right;
  } */

  .loginBtn{
    border: 0;
    line-height:1.5;
    font-size: 1rem;
    border-radius: 5px;
  }
  
 .signUpBtn {
  border: 0;
  line-height:1.5;
  font-size: 1rem;
  border-radius: 5px;

 }

  header .nameBar{
  
  background-color: skyblue;
  
  height: 100px;
  
  }
  
  header .nameBar >p {
  
  /* background-color: aliceblue; */
  width: 300px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 200%;
  
  }
  
  /* 일정 추가, 채팅 */
  
  nav {
  /* background-color: rgb(99, 172, 236); */
  height: 80px;
  width: 100%;
  
  }
  
  nav .goChat  {
  
  /* background-color: blueviolet; */
  width: 220px;
  height: 100%;  
  float: left;
  margin-left: 100px;
  
  }
  
  nav .goAddSchedule {
  
  /* background-color: rgb(170, 52, 170); */
  
  width: 220px;
  
  height: 100%;  
  
  float: left;
  
  }

  nav .goEditPt {

    /* background-color: beige; */
  
    width: 220px;
    
    height: 100%;  

    float: left;

 }

 nav .PTlist {
  background-color: red;
  bottom: 0;
  float: left;
  height: 40%;
  width: 50%;
  vertical-align: middle;
}

  #btnSchedule, #btnChat, #btnEditPt {
  
  width: 150px;
  
  height: 60px;
  
  margin-left: 25px;
  
  margin-top: 10px;
  
  display: inline-block;
  
  }
  

  /* 알림 */
  
side {
  margin-top: 10px;
  border: 1px solid gainsboro;
  width: 300px;
  height: 600px;
  float: left;
  margin-left: 2%;
  margin-right: 5%;
  }

  
  side >p {
  margin-top: 10px;
  }
  
  side .alertBox {
  border: 1px solid;
  height: 550px;
  margin-top: 10px;
  left: 0;
  }