.wrapper {
    /* background-color: palegreen; */
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid skyblue;;
    padding: 20px;
}

.wrapper >p {
    text-align: center;
}

.wrapper > button {
    margin-top: 20px;
    margin-left: 40%;
    background-color: skyblue;
    cursor: pointer;
    height: 30px;
}