/* 입력칸 이름과 그 빈칸을 다 같은 길이로 두고 싶은데 크기가 제각각이에요.. */
.wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

.email {
    height: 20px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#email {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}

.name {
    padding-top: 60px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#name {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}

.password {
    padding-top: 60px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
#password {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}

.passwordCheck {
    padding-top: 60px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}
/* .passwordCheckBox {
    padding-top: 45px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
} */
#passwordCheck {
    width: 350px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
    border-radius: 5px;
}

.signUp {
    padding-top: 80px;
    height: 25px;
    width: 100%;
    text-align: center;
    margin: auto auto;
    cursor: pointer;
}
#signUpButton {
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #9dc39c;
}

/* 에러를 해당 칸 바로 밑에 띄우고 싶은데 잘 안되네요,, */
.error {
    /* background-color: sandybrown; */
    font-size: 1px;
    height: 20px;
    color:#E9573F;
    font-weight: 700;
    padding-top: 15px;
}
